/feladat457674/nbproject/private/
/stringmethods/nbproject/private/
/feladat457674/build/
/stringmetodusok2/nbproject/private/
/stringmetodusok2/build/
/rendszaminput/nbproject/private/
/rendszaminput/build/
/rendszaminput/dist/
/sajat_metodusok_11.04/nbproject/private/
/sajat_metodusok_11.04/build/
/sajat-metodusok_1104_2/nbproject/private/
/metodusok2_1008/nbproject/private/
/metodusok2_1008/build/
/XyzXD2_felszin/nbproject/private/
/NOPproject_P/nbproject/private/
/NOPproject_P/build/
/20221118/nbproject/private/
/karaktermetodusok/nbproject/private/
/karaktermetodusok/build/
/20221122/nbproject/private/
/20221122/build/
/ujnebugoljon/nbproject/private/
/ujnebugoljon/build/
/0920nev/nbproject/private/
/0920nev/build/
/0923nev/nbproject/private/
/0923nev/build/
/rendszamcucc/nbproject/private/
/rendszamcucc/build/
/nov4/nbproject/private/
/nov4/build/
/1129feladat/nbproject/private/
/1129feladat/build/
/valami/nbproject/private/
/valami/build/
/1202feladat/nbproject/private/
/1202feladat/build/
/1209feladat/nbproject/private/
/1209feladat/build/
/sziget/nbproject/private/
/sziget/build/
/szigetegyszeru/nbproject/private/
/szigetegyszeru/build/
/Keindl_Bercel/nbproject/private/
/Keindl_Bercel/build/
/2D_tomb/nbproject/private/
/2D_tomb/build/
/matrix_2023_01_31/nbproject/private/
/matrix_2023_01_31/build/
/2023_02_14/nbproject/private/
/2023_02_14/build/
/switch/nbproject/private/
/switch/build/
/2023.02.21/nbproject/private/
/2023.02.21/build/
/2023_02_28-matrix/nbproject/private/
/2023_02_28-matrix/build/
/dolgozat0301/nbproject/private/
/dolgozat0301/build/
/filebeolvasas/nbproject/private/
/filebeolvasas/build/
/filebeolvasas2/nbproject/private/
/filebeolvasas2/build/
/filebeolvasas3/nbproject/private/
/filebeolvasas3/build/
/filebeolvasas_2_uj/nbproject/private/
/filebeolvasas_2_uj/build/
